.box-f{
    border: 2px solid black;
    border-radius: 10px;
     list-style-type: none;
     width: 70px;
     height: 120px;
       display:flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
.ul-f{
   display: flex;
   gap: 20px;
}
.active{
    color: limegreen;
    margin:0;
    padding-top: 5px;
}
.inactive{
    color: red;
    margin:0;
    padding-top: 5px;
}
.p{
    margin: 0;
    padding-top: 5px;
}